services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    image: laravel-app
    container_name: laravel-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - .:/var/www
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
    depends_on:
      - db
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./docker/nginx/phpmyadmin.conf:/etc/nginx/conf.d/phpmyadmin.conf
      - /etc/letsencrypt:/etc/letsencrypt
      - ./docker/nginx/.pma_pass:/etc/nginx/.pma_pass
    depends_on:
      - app
      - phpmyadmin
    networks:
      - laravel

  db:
    image: mariadb:10.6
    container_name: mariadb
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: prodsystem
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: prodsystem
      MYSQL_PASSWORD: Vun@Hong1098$
    command: --max_connections=20 --innodb_buffer_pool_size=64M
    volumes:
      - dbdata:/var/lib/mysql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    networks:
      - laravel

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
    networks:
      - laravel
    depends_on:
      - db

volumes:
  dbdata:

networks:
  laravel:
    driver: bridge
